Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
  -readability-identifier-length,
  -readability-avoid-unconditional-preprocessor-if,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape
